body {
    background-color: darkslategray;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main {
    position: relative;
    background-color: rgba(0,0,0,0.5);
    top: 2%;
    width: 50vw;
    height: 85vh;
    overflow: auto;
    color: orange;
}

.footer {
    position: relative;
    bottom: 0%;
    overflow: auto;
    width: 50vw;
    height: 10vh;
}