/*  Scrollbars */

/* width */
::-webkit-scrollbar {
    width: 5px;
    padding: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(0,0,0,0);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15%;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, rgba(111,150,10,1), rgba(77,100,0,1));
    border-radius: 15%;
    box-shadow: 0 0 3px orange;
  }

  /* Links */
  
  a:link {
      text-decoration: none;
      color: darkorange;
  }
  a:visited {
      color: orangered;
  }
  a:hover {
      color: orange;
      text-shadow: 0 0 3px black;
  }